version: "2"

volumes:
    postgres-data:
        driver: local

services:
    web:
        container_name: fakturoid-costlocker-web
        build:
             context: .
             dockerfile: ./.docker/Dockerfile.nginx
        working_dir: /app/frontend/build
        ports:
            - "19996:80"
        links:
            - fpm
    fpm:
        container_name: fakturoid-costlocker-fpm
        build:
             context: .
             dockerfile: ./.docker/Dockerfile.fpm
        working_dir: /app/backend
        volumes:
            - "./backend/var/sessions:/app/backend/var/sessions"
            - "./backend/var/log:/app/backend/var/log"
        links:
            - postgres:db.local
        # if postgres is defined in another docker-compose.yml
        # external_links:
            # - postgres:db.local

    postgres:
        image: postgres:9.6.3
        restart: always
        volumes:
            - postgres-data:/var/lib/postgresql/data
        environment:
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

networks:
  default:
    external:
      name: costlocker_addons
