#root {
    padding-bottom: 2em;
}

.cover .progress {
    border-radius: 0;
}

.logo {
    display: inline-block;
    max-height: 28px;
}

.navbar {
    border: 0;
    margin-bottom: 0;
    border-bottom: 3px solid $breadcrumb-bg;
    .navbar-brand {
        padding: 5px;
        a {
            text-decoration: none;
            color: $text-muted;
        }
        img {
            height: 100%;
        }
    }
    .navbar-text {
        color: $gray-lighter;
        a {
            color: $body-bg;
        }
    }
    .navbar-right {
        a {
            padding: 6px 12px 3px 6px;
            vertical-align: baseline;
            position: relative;
        }
        .user {
            display: inline-block;
            text-align: left;
            strong {
                display: block;
            }
        }
        .logo {
            margin: 0 1em;
            vertical-align: baseline;
        }
    }
}

.nav-breadcrumbs-wizard {
    padding: 0;
    background: $breadcrumb-bg;
    margin-bottom: 1em;
    .breadcrumb {
        margin: 0;
        padding: 0;
        li {
            padding: 1em 0;
            margin: 0;
            &.active {
                font-weight: bold;
                border-bottom: 3px solid $blue;
                color: $brand-primary;
            }
            &.wizard-step {
                padding: 1em 1ex;
            }
        }
        li:before {
            padding: 0;
        }
    }
}

.error-page {
    margin: 2em 0;
    pre {
        display: block;
        font-family: monospace;
        white-space: pre-wrap;
        word-wrap: break-word;
    }
}

.reloading {
    opacity: 0.5;
}

h1 .label {
    display: inline-block;
    margin-left: 1em;
    font-size: 12px;
    vertical-align: middle;
}
