################################################################################
CRONTAB
################################################################################
33   6,18       *       *       *       bin/console refreshTokens -e "1 day" --execute
