

.table-inline {
    background: transparent !important;
    margin-bottom: 0;
    th, td {
        text-align: center;
        border: 0 !important;
        vertical-align: middle;
        padding: 3px;
    }
    thead {
        opacity: 0.5;
        font-size: 0.8em;
    }
}
