
// Core variables and mixins
@import "./variables";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Core CSS
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons";

// Components
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/labels";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/badges";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/alerts";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/panels";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/modals";

// Utility classes
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/utilities";

// custom css
@import "./datepicker";
@import "./image-tooltip";
@import "./modals";

$fa-font-path: "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/";
@import "../node_modules/font-awesome/scss/font-awesome";

[data-unavailable] {
    opacity: 0.6;
    input {
        pointer-events: none;
    }
}

.form-grid {
    position: relative;
    > div {
        margin: 1ex 0;
    }
    .btn-group {
        position: absolute;
        top: 2px;
        right: -60px;
        z-index: 1000;
        display: none;
    }
    &:hover .btn-group {
        display: block;
    }
    // smaller padding between inputs
    [class*="col-"] {
        padding: 0 6px;
        &.first { // .first-child, .first, .first-of-type doesn't work
            padding-left: 15px;
        }
        &:last-child {
            padding-right: 15px;
        }
    }
}
.form-summary {
    border-top: 2px solid $gray;
    margin-top: 1em;
    padding: 1em 0;
    .row {
        margin: 1ex 0;
    }
}

.table {
    .highlight {
        background: $highlight-bg !important;
    }
    .highlight-light {
        background: $highlight-ligth-bg !important;
    }
    .bg-danger {
        background-color: #f2dede !important;
    }
    &.table-valign {
        td, th {
            vertical-align: middle;
        }
        .logo {
            margin: 0 1ex 0 1em;
            vertical-align: middle;
        }
        .first .logo {
            margin-left: 0;
        }
    }
}

.table-inline {
    background: transparent !important;
    margin-bottom: 0;
    th, td {
        text-align: center;
        border: 0 !important;
        vertical-align: middle;
        padding: 3px;
    }
    thead {
        opacity: 0.5;
        font-size: 0.8em;
    }
}

.form-group {
    margin-top: 2em;
}

.form-control.text-danger {
    font-weight: bold;
    color: $brand-danger !important;
}

.ps-10 {
    padding: 0 10px;
}

.btn-horizontal {
    display: block;
    text-align: center;
    &.up {
        border-top: 1px solid $breadcrumb-bg;
    }
    &.down {
        border-bottom: 1px solid $breadcrumb-bg;
    }
}
