
// Core variables and mixins
@import "./variables";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Core CSS
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons";

// Components
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/labels";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/badges";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/alerts";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/panels";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/input-groups";

// Utility classes
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/utilities";

// custom css
@import "./forms";
@import "./tables";
@import "./sticky-footer";

$fa-font-path: "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/";
@import "../node_modules/font-awesome/scss/font-awesome";
