// https://getbootstrap.com/examples/sticky-footer/
$footer-height: 60px;

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: #f5f5f5;

  .container {
    margin-top: 15px;
    .col-sm-10 {
      padding-right: 0;
    }
    .col-sm-2 {
      padding-left: 0;
    }
  }

  .form-group {
    margin-top: 0;
  }
}
